*.ipynb
HookCase/
NIClient/
NIIPC
*.dSYM
/*.dSYM/
*.txt
caps/
client/client
client/m2client
client/*.bin
*.o
jup/
*.i64
nidriver
niha
*.id*
*.nam
*.til
run.sh
run_daemon.sh
ha/
driver/
app/
notebooks/
ipchook/*.dylib
*.dylib
